*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: f0f0f0;
    font: 14px;
    font-family: Arial;
    color: #555;
    margin: 0;
    background: rgb(228, 228, 228);
}

a{
    text-decoration: none;
    color: white;
}


a:hover{
    color:white;
    text-decoration: underline;
}

#logorow{
    width: 100%;
    height: 75px;
    text-align: center;
}

header{
    background: rgb(54, 54, 54);
    width: 100%;
    height: 115px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#logo{
    float: left;
    width: 60px;
    height: 60px;
    padding-top: 15px;
    margin-left: 47.5%;
    background: url("img/logo.png") no-repeat center;
}

nav{
    width: 60%;
    float: left;
    padding: 0 20px 20px 0;
    margin-left: 20%; 
    margin-right: 20%;
}

ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 19%;
    text-align: center;
    font-size: 16px;
}

.header-img{
    width: 100%;
    height: 900px;
    background: url("img/headerimg.png") center;
    background-size: cover;
}

.divider{
    background: white;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 15px -3px rgba(0,0,0,0.75);
    border-radius: 5px;
    }

section{
    width: 60%;
    margin: 10px 20%;
    padding: 10px 0;
    text-align: center;
    background: white;
}

h1{
    margin: 2%;
}

p{
    margin: 2%;
}

.maincontentrow{
    background: white;
    width: 60%;
    margin: 0 20%;
    height: 100%;
}

footer{
    width: 100%;
    background: #333;
    text-align: center;
    overflow: hidden;
}

footer p, footer h3 {
    color: white;
}

footer p a {
    color: white; 
    text-decoration: none;
}


footer section{
    width: 29%;
    margin: 2% 2%;
    float: left;  
    background: #333;
    text-align: center;
}

ul.sociallist li {
    display: inline;
}

#youtubeimg{
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

#footerlogo{
    width: 200px; 
    height: 200px;
}
